*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    background: #f2f2f2;
}
.container{
    background: white;
    width: 500px;
    padding: 25px;
    margin: 50px auto 0;
    border-top: 5px solid blue;
    box-shadow:0 0 7px 5px rgba(0,0,0,0.5) ;
}   

.container h2{
    font-size: 22px;
    line-height: 24px;
    padding: 30px;
    text-align: center;
}
.input-name{
    width: 90%;
    position: relative;
    margin: 20px auto;
}
.lock{
    padding: 8px 11px;
}
.name{
    width: 45%;
    padding: 8px 0 8px 40px;
}
.input-name span{
    margin-left: 35px;

}
.input-name i{
    position: absolute;
    font-size: 18px;
    color: blue;
    border-right: 1px solid #cccccc;
}
.text-name{
    width: 100%;
    padding: 8px 0 8px 40px;
}
.city{
    width: 100%;
    padding: 8px 0 8px 40px;
}
.age-name{
    width: 100%;
    padding: 8px 0 8px 40px;
}
.check-button{
    width: 100%;
    padding: 8px 0 8px 40px;
    font-size: 25px;
    color: white;
    text-align: center;
    background-color: blue;
}
.terms{
    font-size: 18px;
}
    

